OWNER_ID=85217134002343@lid
PHONE_NUMBER=85217134002343
BOT_NAME=Bot de Ajuda
GEMINI_API_KEY=
GROUPS_ENABLED=true
PRIVATE_ENABLED=true
USE_GEMINI=false
DEFAULT_RESPONSE=Desculpe, não encontrei a resposta. Fale com o administrador.
